#footer
	#social
		#social-icons
			a(href='https://github.com/plandevida/SC-cthulhu')
				img(src="/images/octocat.png")

		p#reficons Fork us on GitHub. 

	p
		|Page made by 
		span Daniel Serrano Torres 
		| and 
		span Emilio Álvarez Piñeiro 
		|.
