#supermenu
	.menu
		a(href='/') Home
	.menu
		a(href='/users/account') Account
		.submenu
			a(href='/users/account') Profile
			a(href='/') Login
			a(href='/users/logout') Logout
	.menu
		a(href='/about') About