/* line 1, index.sass */
html, body, #wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 6, index.sass */
#wraper {
  background-image: url(../images/footer_lodyas.png);
  min-height: 100%;
  position: relative;
}

/* line 11, index.sass */
body #cuerpo {
  display: block;
  padding-bottom: 270px;
}

/* line 15, index.sass */
#cuerpo {
  margin: 30px;
}

/* line 18, index.sass */
#loginbox {
  background-color: rgba(88, 206, 133, 0.7);
  margin: auto;
  width: 15em;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.58);
  box-shadow: 10px 10px 57px 0px rgba(0, 0, 0, 0.58);
}

/* line 29, index.sass */
#loginbox p {
  font-size: 32px;
  text-align: center;
  border-bottom: 2px solid #fff;
}

/* line 34, index.sass */
#loginbox a img {
  width: 128px;
  max-width: 128px;
  margin-top: 10px;
  padding: 5px;
  margin: auto;
}
